Port = 7000
Host = http://localhost
Mongo_Url = mongodb://localhost:27017/Demo
Jwt_Secret_Key = gfhfgjghjgjtretgbnnnnnnnnnnnnnnnnnnndgddddddddddddddddddddddd
Jwt_Secret_Key_refreshToken = dfhrhettttttttttttttttttthrgbfbgfbfgbfhrthththth